body {
  background-color: pink;
}
h1 {
  color: grey;
  font-family: helvetica;
  font-size: 15;
  margin: 50px;
}
p {
  color: grey;
  font-family: helvetica;
  font-size: 12;
  border: 2px solid grey;
  padding: 30px;
  margin: 50px;
}
p2 {
  color: grey;
  font-family: helvetica;
  font-size: 15;
}
ul.a {
	color: grey;
	font-family: helvetica;
  list-style-type: circle;
}

ul.b {
	color: grey;
	font-family: helvetica;
  list-style-type: square;
}

ol.c {
	color: grey;
	font-family: helvetica;
  list-style-type: upper-roman;
}

ol.d {
	color: grey;
	font-family: helvetica;
  list-style-type: lower-alpha;
}